.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 100px;
  }
.dynapuff{
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 5%;
    font-style: normal;
    font-variation-settings:
      "wdth" 200;
  }
.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
  }
head{
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
}
h4{
    padding-bottom: 20px;
}
h1, h4{
    font-family: "DynaPuff", sans-serif;
}
body{
    background-color: #a9c4bb;
    color: #032a2f;
    font-family: "Dongle", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #a9c4bb;
    color: #032a2f;
    text-align: left;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: 0 auto;
    color: #032a2f;
    background-color: #a9c4bb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #032a2f;
    color: #a9c4bb;
    text-decoration: none;
}
.home-title{
    color: #032a2f;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}
#hero-box{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg{
    grid-column: 2 / 3;
    grid-row: 1 /2;
    margin-top: 100px;
}
#hero-msg h1{
    margin: 0 auto;
    text-align: center;
    color: #a9c4bb;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#hero-msg h4{
    margin: 0 auto;
    text-align: center;
    color: #a9c4bb;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
main{
    display: grid;
    grid-template-columns: repeat(1fr, 10);
}
.button-box{
    margin: 0 auto;
    text-align: center;
}
#background{
    background-color: #032a2f;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
.book{
    background-color: #a9c4bb;
    color: #032a2f;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border: 7px #032a2f solid;
    border-radius: 7px;
}
.join{
    background-color: #032a2f;
    color: #a9c4bb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border: 10px #032a2f solid;
}
.join:hover{
    color: #eb8d2d;
    font-weight: bold;
    background-color: #a9c4bb;
    border: 7px #eb8d2d solid;
    border-radius: 7px;
}
.book:hover{
    background-color: #a9c4bb;
    color: #eb8d2d;
    font-weight: bold;
    border: 7px #eb8d2d solid;
    border-radius: 7px;
}
.msg{
    background-color: #032a2f;
    text-align: center;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
.msg h2{
    color: #a9c4bb;
}
.msg p{
    color: #a9c4bb;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #032a2f;
    color: #a9c4bb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #a9c4bb;
    text-decoration: none;
    background-color: #032a2f;
}
footer .social img{
    padding-top: 15px;
}
footer a:hover{
    color: #032a2f;
    background-color: #a9c4bb;
}
.icon{
    width: 80px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    background-image: linear-gradient(blue, #a9c4bb);
}
.logo{
    width: 80px;
    padding-bottom: 22px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.card-img{
    border: 7px #032a2f solid;
    border-radius: 7px;
    grid-column: 5/7;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img, .mountains{
    width: 100%;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
}
/**Start second river page information**/
.river